<h1>Say#goodbye</h1>
<p>Find me in app/views/say/goodbye.html.erb</p>

<%= link_to('Hello', say_hello_path) %>
<%= 1+2 %>
<%= 'cow'+'boy' %>
<%= 1.hour.from_now.localtime %>

<ul>
	<% for file in @files %>
		<li><%= file %></li>
	<% end %>
</ul>